/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/10/2014, 10:55:45
    Author     : LOURIVALDO
*/

body{ margin: 10% auto;
      width: 50%; 
      text-align: center;
      font-family: Arial;
}
form{ 
    display: inline;
}
input{ 
    width: 200px;
}
a{
  font-size: small;  
}

